<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Iconset Cropper Tool</title>
  <link type="text/stylesheet" rel="stylesheet" href="/static/styles.css" />
</head>
<body>

<h1>Iconset Cropper Tool</h1>
<p>
  All SVG files have been converted. Go check them out in: <code>{{outputDirectory}}</code>
</p>


</body>
</html>
